<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title> <!-- Titre de l'onglet pour la page de tableau de bord -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}"> <!-- Lien vers le fichier CSS -->

</head>
<body>
    <h1>Welcome to the Dashboard</h1> <!-- Titre principal de la page de tableau de bord -->

    <!-- Vérification de la présence du nom d'utilisateur dans la session -->
    {% if 'username' in session %}
        <!-- Si un utilisateur est connecté, affiche un message de bienvenue personnalisé -->
        <p>Hello, {{ session['username'] }}!</p> <!-- Affiche le nom d'utilisateur de la session -->
        <!-- Lien pour se déconnecter qui dirige vers la route de déconnexion définie dans 'auth' -->
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    {% else %}
        <!-- Si aucun utilisateur n'est connecté, invite à se connecter -->
        <p>Please <a href="{{ url_for('auth.login') }}">login</a> to continue.</p>
        <!-- Lien vers la page de connexion -->
    {% endif %}
</body>
</html>
