<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Gestionnaire de Mots de Passe</title>
    <!-- Styles ici -->
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><span class="highlight">Gestionnaire</span> de Mots de Passe</h1>
            </div>
            <nav>
                <ul>
                    <li class="current"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Déconnexion</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <h1>Bienvenue dans votre Dashboard</h1>
        <p>Vous pouvez gérer vos mots de passe ici.</p>
        <!-- Ajoutez ici des fonctionnalités pour l'ajout, l'affichage et la suppression des mots de passe -->
    </div>
</body>
</html>
