<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>EpiVault Gestionnaire de mots de passe</title>
</head>

<body class="home--body">
    <nav class="nav">
        <figure class="nav__logo">
            <a href="{{url_for('home')}}">
                <img src="images/logo2.png" alt="E Vault Logo" />
            </a>
        </figure>
        <div class="nav__buttons">
            <a href="{{url_for('login')}}" class="nav__login">Connectez-vous</a>
            <a href="{{url_for('register')}}" class="nav__register">Inscrivez-vous</a>
        </div>
    </nav>
    <main class="main">
        <figure class="main__image">
            <img src="images/header.jpg" alt="/">
        </figure>
        <div class="main__wrapper">
            <p class="main__paragraph">
                Avez-vous du mal à vous souvenir de vos mots de passe ?
                Vous avez besoin de mots de passe forts pour vos comptes ?
                Chez <span>EPI-Vault</span>, nous avons tout prévu ! Tous vos mots de passe en un seul endroit.
                Alors, qu'attendez-vous ?
            </p>
            <div class="main__button">
                <a href="{{url_for('register')}}" class="nav__register">Inscrivez-vous maintenant !</a>
            </div>
        </div>
    </main>
</body>

</html>