<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script>const session_username = "{{username}}"</script>
    <script defer src="js/main.js">
    </script>
    <title>EPIVault Gestionnaire de mots de passe</title>
</head>

<body class="dashboard">
    <figure class="dashboard__logo">
        <a href="{{url_for('home')}}">
            <img src="/images/logo2.png" alt="EPIVault logo">
        </a>
    </figure>

    <h1 class="dashboard__heading">
        Bienvenue, <span class="dashboard__user--name">{{user}}</span>
    </h1>

    <div class="dashboard__main">
        <div class="dashboard__main--left">
            <ul class="dashboard__buttons">
                <li class="dashboard__button btn--one active">Stocker un mot de passe</li>
                <li class="dashboard__button btn--two">Voir tous les mots de passe</li>
                <li class="dashboard__button btn--three">Rechercher un mot de passe</li>
            </ul>

            <div class="dashboard__button-link">
    <a href="https://haveibeenpwned.com/" target="_blank">
        <button class="nav__login">Mes données sont-elles compromises?</button>
    </a>
</div>


            <form action="/logout.py" class="log__out">
                <button type="submit" class="nav__login">Se déconnecter</button>
            </form>
        </div>
        <div class="dashboard__main--right">
            <div class="dashboard__generate--password">
                <form action="" class="save__pass">
                    <input type="text" class="gen--website" placeholder="Nom du site web" required>
                    <input type="text" class="gen--username" placeholder="Nom d'utilisateur / Email" required>
                    <input type="text" class="gen--pass" placeholder="Mot de passe" required>
                    <a class="nav__register">Générer</a>
                    <button class="nav__login" type="submit">Enregistrer le mot de passe</button>
                    <p class="success__message"></p>
                </form>
            </div>
            <div class="hide dashboard__view--password">
                <button id="togglePasswords">Afficher / Masquer les Mots de Passe</button>
                <table class="password--table">
                    <tr>
                        <th>Site web</th>
                        <th>Nom d'utilisateur</th>
                        <th>Mot de passe</th>
                        <th>Supprimer</th>
                    </tr>
                </table>
            </div>
            <div class="hide dashboard__search--password">
                <table class="password--table search__pass--table">
                    <tr>
                        <th colspan="3"><input placeholder="Rechercher un mot de passe" class="search_password_input"
                                type="text"></th>
                        <th><button class="search_password" type="submit">Rechercher</button></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>

</html>