<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title> <!-- Titre de la page d'inscription -->
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}"> <!-- Lien vers le fichier CSS -->

</head>
<body>
    <h1>Register</h1> <!-- Titre principal de la page -->

    <!-- Boucle pour afficher les messages flash (erreurs, notifications) -->
    {% for message in get_flashed_messages() %}
        <div>{{ message }}</div> <!-- Affichage de chaque message flash -->
    {% endfor %}

    <!-- Formulaire d'inscription -->
    <form method="post" action="{{ url_for('auth.register') }}">
        {{ form.hidden_tag() }} <!-- Champ caché pour la protection CSRF -->

        <!-- Champ de nom d'utilisateur -->
        <div>
            {{ form.username.label }} <!-- Étiquette pour le champ de nom d'utilisateur -->
            {{ form.username(size=32) }} <!-- Champ de saisie pour le nom d'utilisateur -->
        </div>

        <!-- Champ d'email -->
        <div>
            {{ form.email.label }} <!-- Étiquette pour le champ d'email -->
            {{ form.email(size=32) }} <!-- Champ de saisie pour l'email -->
        </div>

        <!-- Champ de mot de passe -->
        <div>
            {{ form.password.label }} <!-- Étiquette pour le champ de mot de passe -->
            {{ form.password(size=32) }} <!-- Champ de saisie pour le mot de passe -->
        </div>

        <!-- Champ de confirmation de mot de passe -->
        <div>
            {{ form.confirmpassword.label }} <!-- Étiquette pour le champ de confirmation de mot de passe -->
            {{ form.confirmpassword(size=32) }} <!-- Champ de saisie pour la confirmation de mot de passe -->
        </div>

        <!-- Bouton de soumission -->
        <div>
            <button type="submit">Register</button> <!-- Bouton pour soumettre le formulaire -->
        </div>
    </form>
</body>
</html>
