<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription - Gestionnaire de Mots de Passe</title>
    <!-- Styles ici -->
</head>
<body>
    <div class="register-container">
        <h2>Inscription</h2>
        <!-- Section pour les messages flash -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('auth.register') }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.username.label }} {{ form.username }}
            {{ form.email.label }} {{ form.email }}
            {{ form.password.label }} {{ form.password }}
            {{ form.confirmpassword.label }} {{ form.confirmpassword }}
            <button type="submit">S'inscrire</button>
            <div class="login-link">
                <p>Déjà inscrit ? <a href="{{ url_for('auth.login') }}">Connectez-vous</a></p>
            </div>
        </form>
    </div>
</body>
</html>
